<md-sidenav ng-class="(menuCerrado)?'menu-principal-izq':''" layout="column"   class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')"   ng-include="'src/app/views/menu.html'"></md-sidenav>
<div layout="column" class="relative" layout-fill role="main" id="modulo-nuevo">
	<md-progress-linear  ng-if="cargando" class="md-accent" style="position:fixed; top:-3px; left:0px; z-index:999"  md-mode="indeterminate"></md-progress-linear>
	<md-toolbar layout="column" class="md-whiteframe-z2">
		<div class="md-toolbar-tools">    
			<md-button hide-gt-sm class="md-icon-button " ng-click="toggleMenu(true)" aria-label="Menu">
		        <md-icon md-svg-icon="menu" ></md-icon>
		    </md-button>		
			<h2>
			  <span>Configuración</span>
			</h2>
			
			<span flex></span>

			<md-button ng-permiso="permisoAgregar" hide-xs hide-sm ng-click="guardar()" ng-disabled="cargando"  aria-label="{{ 'GUARDAR' | translate }}">
			  <md-icon md-svg-icon="content-save"></md-icon>
			  {{ 'GUARDAR' | translate }}
			</md-button>		 
			<md-button ng-permiso="permisoAgregar" class="md-icon-button"  hide-gt-sm ng-disabled="cargando" ng-click="guardar()"  aria-label="{{ 'GUARDAR' | translate }}">
			  <md-icon md-svg-icon="content-save"></md-icon>
			</md-button>
		</div>
	</md-toolbar>
	<md-content layout="column" flex >
		<md-content id="modulo-contenedor" layout="column" flex>
			<md-content layout="row" flex="none" layout-wrap layout-padding >
				<md-input-container flex="25" md-is-error="validacion.clues" style="margin-bottom:0px;">
					<label>CLUES</label>
					<input ng-model="configuracion.clues">
					<div class="errors" ng-messages="validacion.clues" >
						<div ng-message="required">{{ 'CAMPO_REQUERIDO' | translate }}</div>
					</div>
				</md-input-container>
				<md-input-container flex="25" md-is-error="validacion.clues_nombre" style="margin-bottom:0px;">
					<label>Nombre Unidad Médica</label>
					<input ng-model="configuracion.clues_nombre">
					<div class="errors" ng-messages="validacion.clues_nombre" >
						<div ng-message="required">{{ 'CAMPO_REQUERIDO' | translate }}</div>
					</div>
				</md-input-container>
				<md-input-container flex="25" md-is-error="validacion.empresa_clave" style="margin-bottom:0px;">
					<label>Empresa Asignada</label>
					<md-select ng-model="configuracion.empresa_clave">
						<md-option ng-repeat="empresa in empresas" value="{{empresa.clave}}">
							{{empresa.nombre}}
						</md-option>
		    		</md-select>
					<div class="errors" ng-messages="validacion.empresa_clave" >
						<div ng-message="required">{{ 'CAMPO_REQUERIDO' | translate }}</div>
					</div>
				</md-input-container>
				<md-input-container flex="25" md-is-error="validacion.director_unidad" style="margin-bottom:0px;">
					<label>Director de la Unidad Médica</label>
					<input ng-model="configuracion.director_unidad">
					<div class="errors" ng-messages="validacion.director_unidad" >
						<div ng-message="required">{{ 'CAMPO_REQUERIDO' | translate }}</div>
					</div>
				</md-input-container>
				<md-input-container flex="50" style="margin-bottom:0px;" md-is-error="validacion.lugar_entrega">
					<label>Lugar de Entrega</label>
					<input ng-model="configuracion.lugar_entrega">
					<div class="errors" ng-messages="validacion.lugar_entrega" >
						<div ng-message="required">{{ 'CAMPO_REQUERIDO' | translate }}</div>
					</div>
				</md-input-container>
				<md-input-container flex="25" style="margin-bottom:0px;">
					<label>Nombre Solicitante</label>
					<input ng-model="configuracion.solicitante_nombre">
				</md-input-container>
				<md-input-container flex="25" style="margin-bottom:0px;">
					<label>Cargo Solicitante</label>
					<input ng-model="configuracion.solicitante_cargo">
				</md-input-container>
				<md-input-container flex="50" style="margin-bottom:0px;">
					<label>Ciudad</label>
					<input ng-model="configuracion.ciudad">
				</md-input-container>
			</md-content>
		</md-content>
	</md-content>
</div>