<md-sidenav ng-class="(menuCerrado)?'menu-principal-izq':''" layout="column"   class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')"   ng-include="'src/app/views/menu.html'"></md-sidenav>
<div layout="column" class="relative" layout-fill role="main" id="modulo-nuevo">
	<md-progress-linear  ng-if="cargando" class="md-accent" style="position:fixed; top:-3px; left:0px; z-index:999"  md-mode="indeterminate"></md-progress-linear>
	<md-toolbar layout="column" class="md-whiteframe-z2">
		<div class="md-toolbar-tools">    
			<md-button hide-gt-sm class="md-icon-button " ng-click="toggleMenu(true)" aria-label="Menu">
		        <md-icon md-svg-icon="menu" ></md-icon>
		    </md-button>		
			<h2>
			  <span>SALIDA: {{salida.folio}} </span>
			</h2>
			
			<span flex></span>
			<md-button hide-xs hide-sm ng-click="ir('salidas')"   aria-label="{{ 'REGRESAR' | translate }}">
			  <md-icon md-svg-icon="keyboard-backspace"></md-icon>
			  {{ 'REGRESAR' | translate }}
			</md-button>   
			<md-button class="md-icon-button"  hide-gt-sm  ng-click="ir('salidas')"   aria-label="{{ 'REGRESAR' | translate }}">
			  <md-icon md-svg-icon="keyboard-backspace"></md-icon>
			</md-button>

			<md-button class="md-icon-button" ng-click="toggleDatosActa=!toggleDatosActa"  ng-disabled="cargando" aria-label="Toggle Datos Salida">
				<md-icon md-svg-icon="{{(toggleDatosSalida)?'expand-panel-off':'expand-panel-on'}}"></md-icon>
			</md-button>

			<md-icon md-svg-icon="dots-vertical" style="color: #005DA7;"></md-icon>
			
			<md-button ng-if="(salida.estatus == 1)" ng-permiso="permisoEliminar" class="md-icon-button" ng-click="eliminar($event)"  aria-label="{{ 'ELIMINAR' | translate }}">
			  <md-icon md-svg-icon="delete"></md-icon>
			</md-button>

			<md-button ng-if="(salida.estatus == 1 && captura_habilitada == 1)" ng-permiso="permisoEditar" class="md-accent md-raised" hide-xs hide-sm ng-click="finalizarSalida($event)" ng-disabled="cargando"  aria-label="{{ 'FINALIZAR' | translate }}">
			  <md-icon md-svg-icon="check"></md-icon>
			  {{ 'FINALIZAR' | translate }}
			</md-button>
			<md-button class="md-icon-button md-accent" ng-permiso="permisoEditar" hide-gt-sm  ng-if="(salida.estatus == 1 && captura_habilitada == 1)" ng-disabled="cargando" ng-click="finalizarSalida($event)"  aria-label="{{ 'FINALIZAR' | translate }}">
			  <md-icon md-svg-icon="check"></md-icon>
			</md-button>

		    <md-button ng-if="(salida.estatus == 1)" ng-permiso="permisoEditar" hide-xs hide-sm ng-click="editar()" ng-disabled="cargando"  aria-label="{{ 'GUARDAR' | translate }}">
			  <md-icon md-svg-icon="content-save"></md-icon>
			  {{ 'GUARDAR' | translate }}
			</md-button>		 
			<md-button ng-if="(salida.estatus == 1)" ng-permiso="permisoEditar" class="md-icon-button"  hide-gt-sm ng-disabled="cargando" ng-click="editar()"  aria-label="{{ 'GUARDAR' | translate }}">
			  <md-icon md-svg-icon="content-save"></md-icon>
			</md-button>



		</div>
	</md-toolbar>
	<md-content layout="column" flex ng-include="'src/salidas/views/form.html'"></md-content>
</div>