<md-dialog aria-label="form acta" flex ng-cloak id="fomulario-dialogo-acta">
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Acta</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-icon="close" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-subheader class="md-accent">
      ¡Atención! Al generar el acta se agruparan las capturas hechas por otros usuarios, asegurese de que todas las capturas esten completas antes de continuar.
    </md-subheader><!--You can use md-no-sticky class-->
    <md-divider></md-divider>
    <md-dialog-content>
      <div class="md-dialog-content">
        <md-progress-linear  ng-if="cargando" class="md-accent" style="position:fixed; top:-3px; left:0px; z-index:999"  md-mode="indeterminate"></md-progress-linear>
        <div layout="row" flex="none" layout-wrap>
          <md-input-container flex="50" md-is-error="validacion.ciudad" style="margin-bottom:0px;">
            <label>Ciudad</label>
            <input ng-model="acta.ciudad">
            <div class="errors" ng-messages="validacion.ciudad" >
              <div ng-message="required">{{ 'CAMPO_REQUERIDO' | translate }}</div>
            </div>
          </md-input-container>
          <md-input-container flex="20" md-is-error="validacion.fecha" style="margin-bottom:0px;">
            <label>Fecha</label>
            <input type="date" ng-model="acta.fecha">
            <div class="errors" ng-messages="validacion.fecha" >
              <div ng-message="required">{{ 'CAMPO_REQUERIDO' | translate }}</div>
            </div>
          </md-input-container>
          <md-input-container flex="15" md-is-error="validacion.hora_inicio" style="margin-bottom:0px;">
            <label>Hora de inicio</label>
            <input type="time" ng-model="acta.hora_inicio_date">
            <div class="errors" ng-messages="validacion.hora_inicio" >
              <div ng-message="required">{{ 'CAMPO_REQUERIDO' | translate }}</div>
            </div>
          </md-input-container>
          <md-input-container flex="15" md-is-error="validacion.hora_termino" style="margin-bottom:0px;">
            <label>Hora de termino</label>
            <input type="time" ng-model="acta.hora_termino_date">
            <div class="errors" ng-messages="validacion.hora_termino" >
              <div ng-message="required">{{ 'CAMPO_REQUERIDO' | translate }}</div>
            </div>
          </md-input-container>
          <md-input-container flex="100" md-is-error="validacion.lugar_reunion" style="margin-bottom:0px;">
            <label>Lugar de Reunion</label>
            <input ng-model="acta.lugar_reunion">
            <div class="errors" ng-messages="validacion.lugar_reunion" >
              <div ng-message="required">{{ 'CAMPO_REQUERIDO' | translate }}</div>
            </div>
          </md-input-container>
        </div>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button class="md-raised md-accent" ng-disabled="cargando" ng-click="guardar()" style="margin-right:20px;">
        <md-icon md-svg-icon="content-save"></md-icon> Guardar y Finalizar
      </md-button>
      <md-button class="md-raised" ng-disabled="cargando" ng-click="cancel()" style="margin-right:20px;">
        Cancelar
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>