<md-sidenav ng-class="(menuCerrado)?'menu-principal-izq':''" layout="column"   class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')"   ng-include="'src/app/views/menu.html'"></md-sidenav>
<div layout="column" flex id="modulo-nuevo">
	<md-progress-linear  ng-if="cargando" class="md-accent" style="position:fixed; top:-3px; left:0px; z-index:999"  md-mode="indeterminate"></md-progress-linear>
	<md-toolbar layout="column" class="md-whiteframe-z2">
		<div class="md-toolbar-tools">    
			<md-button hide-gt-sm class="md-icon-button " ng-click="toggleMenu(true)" aria-label="Menu">
		        <md-icon md-svg-icon="menu" ></md-icon>
		    </md-button>		
			<h2><span></span></h2>
			<span flex></span>

			<md-button ng-if='(captura_habilitada)' ng-permiso="permisoGuardar" class="md-accent md-raised" hide-xs hide-sm ng-click="crearActa($event)" ng-disabled="cargando"  aria-label="{{ 'CREAR ACTA' | translate }}">
			  <md-icon md-svg-icon="check"></md-icon>
			  {{ 'CREAR ACTA' | translate }}
			</md-button>
			<md-button ng-if='(captura_habilitada)' ng-permiso="permisoGuardar" class="md-icon-button md-accent"  hide-gt-sm  ng-disabled="cargando" ng-click="crearActa($event)"  aria-label="{{ 'CREAR ACTA' | translate }}">
			  <md-icon md-svg-icon="check"></md-icon>
			</md-button>

			<md-button ng-permiso="permisoGuardar" hide-xs hide-sm ng-click="guardar()" ng-disabled="cargando"  aria-label="{{ 'GUARDAR' | translate }}">
			  <md-icon md-svg-icon="content-save{{(modulo.cambios)?'-all':''}}"></md-icon>
			  {{ 'GUARDAR' | translate }}
			</md-button>		 
			<md-button ng-permiso="permisoGuardar" class="md-icon-button"  hide-gt-sm ng-disabled="cargando" ng-click="guardar()"  aria-label="{{ 'GUARDAR' | translate }}">
			  <md-icon md-svg-icon="content-save{{(modulo.cambios)?'-all':''}}"></md-icon>
			</md-button>

			<md-button ng-if="modulo.cambios" hide-xs hide-sm ng-click="deshacer($event)" ng-disabled="cargando"  aria-label="{{ 'DESCARTAR CAMBIOS' | translate }}">
			  <md-icon md-svg-icon="undo"></md-icon>
			  {{ 'DESCARTAR CAMBIOS' | translate }}
			</md-button>		 
			<md-button ng-if="modulo.cambios" class="md-icon-button"  hide-gt-sm ng-disabled="cargando" ng-click="deshacer($event)"  aria-label="{{ 'DESCARTAR CAMBIOS' | translate }}">
			  <md-icon md-svg-icon="undo"></md-icon>
			</md-button>


		</div>
	</md-toolbar>

	<div layout="row" flex id="modulo-contenedor" >
		<div layout="column" flex class="relative" layout-fill role="main" >
			<md-content layout="row" flex="none" layout-padding>
				<div flex layout="row">
					<md-autocomplete flex
		            md-input-id="autocomplete-clues"
		            md-no-cache="true"
		            md-selected-item="cluesAutoComplete.clues"
		            md-search-text="cluesAutoComplete.searchText"
		            md-selected-item-change ="cluesAutoCompleteItemChange()"
		            md-items="item in querySearchClues(cluesAutoComplete.searchText)"
		            md-item-text="item.clues + ' - ' + item.nombre"
		            md-min-length="0"
		            placeholder="Buscar CLUES"
		            md-menu-class="autocomplete-custom-template">
		            <md-item-template>
		            	<span class="item-title" ng-class="(item.repetido)?'insumo-repetido':''" >
		                	<div layout="row" layout-padding>
				                <div flex="none"><strong><span md-highlight-text="cluesAutoComplete.searchText">CLUES:</span></strong> {{item.clues}}</div>
				                <div flex></div>
				                <div flex="none"><span><strong>Claves:</strong> {{item.total_insumos | number}}</span></div>
		                	</div>
		            	</span>
		            	<span class="item-metadata md-padding">
		                	<span class="item-metastat">
		                  		<span md-highlight-text="cluesAutoComplete.searchText" >{{item.nombre}}</span><br>
		                  		<small>JURISDICCIÓN {{item.jurisdiccion}}</small>
		                	</span>
		            	</span>
		            </md-item-template>
		            <md-not-found>
		              No hay resultados para  "{{cluesAutoComplete.searchText}}".
		            </md-not-found>
		        	</md-autocomplete>
					<div flex="none">
						<input class="ng-hide" id="input-file-id" type="file" accept=".zip"/>
						<label for="input-file-id" class="md-button md-primary">
				    		<md-icon md-svg-icon="attachment"></md-icon> Importar archivo
				    	</label>
					</div>
				</div>
			</md-content>

			<md-divider></md-divider>

			<md-subheader flex="none" class="md-primary">
				<div layout="row">
					<div flex="5" style="text-align:center;">No. Lote</div>
					<div flex="15" flex-md="30" style="text-align:center;">Clave</div>
					<div flex="35" flex-md="40" style="text-align:center;">Descripción del Insumo</div>
					<div flex="15" style="text-align:center;" hide show-gt-md>Unidad de Medida</div>
					<div flex="10" style="text-align:center;" hide show-gt-md>Precio Unitario</div>
					<div flex="10" style="text-align:center;" hide show-gt-md>Cantidad</div>
					<div flex="20" style="text-align:center;">Importe</div>
				</div>
			</md-subheader>

			<md-divider></md-divider>

			<md-virtual-repeat-container style="height:880px;" id="lista-insumos">
				<md-list>
					<md-list-item ng-if="lista_insumos.length == 0">
				    	<md-subheader class="{{(validacion.requisiciones)?'md-warn':''}} md-no-sticky">
				    		<span ng-hide="validacion.requisiciones">No hay insumos de médicamentos capturados</span>
							<span ng-show="validacion.requisiciones">Es necesario capturar al menos un insumo</span>
				    	</md-subheader>
				    </md-list-item>
					<md-list-item class="md-2-line paciente-item" md-virtual-repeat="insumo in lista_insumos | filter: filtroTipo" ng-click="editarInsumo($event,insumo)" md-item-size="50">
						<div flex layout="row" ng-class="(insumo.repetido)?'insumo-repetido':((insumo.cuadro_basico)?'':'insumo-no-cuadro-basico')" ng-style="(!insumos_estatus.nuevos[insumo.id])?((insumos_estatus.editados[insumo.id])?{'font-style':'italic'}:{'color':'black'}):{'font-weight':'bold'}">
							<div flex="5" style="text-align:center;">{{insumo.lote}}</div>
							<div flex="15" flex-md="30" style="text-align:center;">{{insumo.clave}}</div>
							<div flex="35" flex-md="40" style="text-align:center;"><p style="line-height:14px; margin:0px;"><small>{{insumo.descripcion}}</small></p></div>
							<div flex="15" style="text-align:center;" hide show-gt-md>
								<p style="line-height:14px; margin:0px;"><small>{{insumo.unidad}}</small></p>
							</div>
							<div flex="10" style="text-align:center;" hide show-gt-md>$ {{insumo.precio | number:2}}</div>
							<div flex="10" style="text-align:center;" hide show-gt-md>{{insumo.cantidad | number}}</div>
							<div flex="20" style="text-align:center;">$ {{insumo.total | number:2}}</div>
						</div>
				    	<md-icon ng-if="clues_seleccionada" md-svg-icon="delete" ng-click="eliminarInsumo(insumo)" aria-label="quitar" class="md-secondary md-hue-3">
				    	</md-icon>
						<md-divider></md-divider>
					</md-list-item>
				</md-list>
			</md-virtual-repeat-container>

			<md-divider></md-divider>

			<md-content layout="row" flex="none" layout-wrap>
				<md-button class="md-raised md-accent" ng-click="agregarInsumo($event)" ng-disabled="!clues_seleccionada">
					<md-icon md-svg-icon="plus"></md-icon> Agregar Insumo
				</md-button>
				<!--md-button class="md-raised md-primary" ng-click="copiarLista($event)" ng-disabled="(!clues_seleccionada || lista_insumos.length == 0)">
					<md-icon md-svg-icon="content-copy"></md-icon> Copiar Lista
				</md-button>
				<md-button class="md-raised md-warn" ng-disabled="(!clues_seleccionada || lista_insumos.length == 0)" ng-click="limpiarInsumos($event)" aria-label="vaciar">
				  <md-icon md-svg-icon="delete"></md-icon> Vaciar
				</md-button-->
				<div flex></div>
				<div flex="none" layout="row" style="overflow:hidden;">
					<md-input-container flex="none" style="margin-bottom:0px;height:35px;">
						<label>Subtotal</label>
						<input value="$ {{totales.subtotal | number:2}}" readonly>
					</md-input-container>
					<md-input-container flex="none" style="margin-bottom:0px;height:35px;">
						<label>I.V.A.</label>
						<input value="$ {{totales.iva | number:2}}" readonly>
					</md-input-container>
					<md-input-container flex="none" style="margin-bottom:0px;height:35px;">
						<label>Total</label>
						<input value="$ {{totales.total | number:2}}" readonly>
					</md-input-container>
				</div>
			</md-content>
		</div>

		<div flex="none" flex-md="20" layout="column" class="md-whiteframe-z2" style="overflow:hidden;">
			<md-content layout="column" flex>
				<md-subheader class="md-primary md-hue-1">
					Totales por tipo:
				</md-subheader>
				<md-input-container flex="none" style="margin-bottom:0px; height:35px;">
					<label>Causes:</label>
					<input value="$ {{subtotales.causes | number:2}}" readonly>
				</md-input-container>
				
				<md-input-container flex="none" style="margin-bottom:0px; height:35px;">
					<label>No Causes:</label>
					<input value="$ {{subtotales.no_causes | number:2}}" readonly>
				</md-input-container>
				
				<md-input-container flex="none" style="margin-bottom:0px; height:35px;">
					<label>Material de Curación:</label>
					<input value="$ {{subtotales.material_curacion | number:2}}" readonly>
				</md-input-container>

				<md-input-container flex="none" style="margin-bottom:0px; height:35px;">
					<label>Controlados:</label>
					<input value="$ {{subtotales.controlados | number:2}}" readonly>
				</md-input-container>

				<md-input-container flex="none" style="margin-bottom:0px; height:35px;">
					<label>Surfactante Causes:</label>
					<input value="$ {{subtotales.surfactante_causes | number:2}}" readonly>
				</md-input-container>

				<md-input-container flex="none" style="margin-bottom:0px; height:35px;">
					<label>Surfactante No Causes:</label>
					<input value="$ {{subtotales.surfactante_no_causes | number:2}}" readonly>
				</md-input-container>

				<md-subheader class="md-primary md-hue-1">
					Filtrar por tipo:
				</md-subheader>
				<md-radio-group ng-model="filtroTipo" class="md-primary md-padding" ng-change="cambiaFiltro(filtroTipo)">
					<md-radio-button ng-value="1">Todos</md-radio-button>
					<md-radio-button ng-value="{tipo:1,cause:1,controlado:0,surfactante:0}">Causes</md-radio-button>
					<md-radio-button ng-value="{tipo:1,cause:0,surfactante:0}">No Causes</md-radio-button>
					<md-radio-button ng-value="{tipo:2,cause:0}">Material de Curación</md-radio-button>
					<md-radio-button ng-value="{tipo:1,cause:1,controlado:1,surfactante:0}">Controlados</md-radio-button>
					<md-radio-button ng-value="{tipo:1,cause:1,surfactante:1}">Surfactante Causes</md-radio-button>
					<md-radio-button ng-value="{tipo:1,cause:0,surfactante:1}">Surfactante No Causes</md-radio-button>
				</md-radio-group>
			</md-content>

			<md-divider></md-divider>

			<md-input-container flex="none" style="margin-bottom:0px;height:35px;">
				<label>Total Claves</label>
				<input value="{{(lista_insumos | filter: filtroTipo).length | number}}" readonly>
			</md-input-container>
		</div>
	</div>
</div>