<md-sidenav ng-class="(menuCerrado)?'menu-principal-izq':''" layout="column"   class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')"   ng-include="'src/app/views/menu.html'"></md-sidenav>
<div layout="column" flex id="modulo-nuevo">
	<md-progress-linear  ng-if="cargando" class="md-accent" style="position:fixed; top:-3px; left:0px; z-index:999"  md-mode="indeterminate"></md-progress-linear>
	<md-toolbar layout="column" class="md-whiteframe-z2">
		<div class="md-toolbar-tools">    
			<md-button hide-gt-sm class="md-icon-button " ng-click="toggleMenu(true)" aria-label="Menu">
		        <md-icon md-svg-icon="menu" ></md-icon>
		    </md-button>		
			<h2><span></span></h2>
			<span flex></span>

			<md-button ng-if='(captura_habilitada)' ng-permiso="permisoGuardar" class="md-accent md-raised" hide-xs hide-sm ng-click="crearActa($event)" ng-disabled="cargando"  aria-label="{{ 'CREAR ACTA' | translate }}">
			  <md-icon md-svg-icon="check"></md-icon>
			  {{ 'CREAR ACTA' | translate }}
			</md-button>
			<md-button ng-if='(captura_habilitada)' ng-permiso="permisoGuardar" class="md-icon-button md-accent"  hide-gt-sm  ng-disabled="cargando" ng-click="crearActa($event)"  aria-label="{{ 'CREAR ACTA' | translate }}">
			  <md-icon md-svg-icon="check"></md-icon>
			</md-button>

				 
			<md-button ng-permiso="permisoGuardar" class="md-icon-button"  hide-gt-sm ng-disabled="cargando" ng-click="guardar()"  aria-label="{{ 'GUARDAR' | translate }}">
			  <md-icon md-svg-icon="content-save{{(modulo.cambios)?'-all':''}}"></md-icon>
			</md-button>

			<md-button ng-if="modulo.cambios" hide-xs hide-sm ng-click="deshacer($event)" ng-disabled="cargando"  aria-label="{{ 'DESCARTAR CAMBIOS' | translate }}">
			  <md-icon md-svg-icon="undo"></md-icon>
			  {{ 'DESCARTAR CAMBIOS' | translate }}
			</md-button>		 
			<md-button ng-if="modulo.cambios" class="md-icon-button"  hide-gt-sm ng-disabled="cargando" ng-click="deshacer($event)"  aria-label="{{ 'DESCARTAR CAMBIOS' | translate }}">
			  <md-icon md-svg-icon="undo"></md-icon>
			</md-button>


		</div>
	</md-toolbar>

	<div layout="row" flex id="modulo-contenedor" >
		<div layout="column" flex class="relative" layout-fill role="main" >
			<md-content layout="row" flex="none" layout-padding>
				<div flex layout="row">
					
					<div flex="none">
						<input class="ng-hide" id="input-file-id" type="file" accept=".xls"/>
						<label for="input-file-id" class="md-button md-primary">
				    		<md-icon md-svg-icon="attachment"></md-icon> Importar archivo
				    	</label>

					</div>

					<md-select ng-model="meses_select" aria-label="proveedor general">
						<md-option ng-repeat="mes in meses" ng-value="mes.id">
							{{mes.nombre}}
						</md-option>	
					</md-select>

					<md-select ng-model="anio_select" aria-label="proveedor general">
						<md-option ng-repeat="anio in anios" ng-value="anio.id">
							{{anio.anio}}
						</md-option>
					</md-select>
					

					
						

				</div>
			</md-content>

			<md-divider></md-divider>

			<md-subheader flex="none" class="md-primary">
				<div layout="row">
					<div flex="15" flex-md="30" style="text-align:center;">Clave</div>
					<div flex="35" flex-md="40" style="text-align:center;">Descripción del Insumo</div>
					<div flex="15" style="text-align:center;" hide show-gt-md>Enero</div>
					<div flex="15" style="text-align:center;" hide show-gt-md>Febrero</div>
					<div flex="15" style="text-align:center;" hide show-gt-md>Marzo</div>
					<div flex="15" style="text-align:center;" hide show-gt-md>Abril</div>
					<div flex="15" style="text-align:center;" hide show-gt-md>Mayo</div>
					<div flex="15" style="text-align:center;" hide show-gt-md>Junio</div>
					<div flex="15" style="text-align:center;" hide show-gt-md>Julio</div>
					<div flex="15" style="text-align:center;" hide show-gt-md>Agosto</div>
					<div flex="15" style="text-align:center;" hide show-gt-md>Septiembre</div>
					<div flex="15" style="text-align:center;" hide show-gt-md>Octubre</div>
					<div flex="15" style="text-align:center;" hide show-gt-md>Noviembre</div>
					<div flex="15" style="text-align:center;" hide show-gt-md>Diciembre</div>
				</div>
			</md-subheader>

			<md-divider></md-divider>

			<md-virtual-repeat-container style="height:880px;" id="lista-insumos">
				<md-list>
					<md-list-item ng-if="lista_insumos.length == 0">
				    	<md-subheader class="{{(validacion.requisiciones)?'md-warn':''}} md-no-sticky">
				    		<span ng-hide="validacion.requisiciones">No hay insumos de médicamentos capturados</span>
							<span ng-show="validacion.requisiciones">Es necesario capturar al menos un insumo</span>
				    	</md-subheader>
				    </md-list-item>
					<md-list-item class="md-2-line paciente-item" md-virtual-repeat="insumo in lista_insumos | filter: filtroTipo" ng-click="editarInsumo($event,insumo)" md-item-size="50">
						<div flex layout="row" ng-class="(insumo.repetido)?'insumo-repetido':((insumo.cuadro_basico)?'':'insumo-no-cuadro-basico')" ng-style="(!insumos_estatus.nuevos[insumo.id])?((insumos_estatus.editados[insumo.id])?{'font-style':'italic'}:{'color':'black'}):{'font-weight':'bold'}">
							<div flex="5" style="text-align:center;">{{insumo.lote}}</div>
							<div flex="15" flex-md="30" style="text-align:center;">{{insumo.clave}}</div>
							<div flex="35" flex-md="40" style="text-align:center;"><p style="line-height:14px; margin:0px;"><small>{{insumo.descripcion}}</small></p></div>
							<div flex="15" style="text-align:center;" hide show-gt-md>
								<p style="line-height:14px; margin:0px;"><small>{{insumo.unidad}}</small></p>
							</div>
							<div flex="10" style="text-align:center;" hide show-gt-md>$ {{insumo.precio | number:2}}</div>
							<div flex="10" style="text-align:center;" hide show-gt-md>{{insumo.cantidad | number}}</div>
							<div flex="20" style="text-align:center;">$ {{insumo.total | number:2}}</div>
						</div>
				    	<md-icon ng-if="clues_seleccionada" md-svg-icon="delete" ng-click="eliminarInsumo(insumo)" aria-label="quitar" class="md-secondary md-hue-3">
				    	</md-icon>
						<md-divider></md-divider>
					</md-list-item>
				</md-list>
			</md-virtual-repeat-container>

			<md-divider></md-divider>

			
		</div>

	
	</div>
</div>