<md-content layout="row" layout-wrap layout-padding>
  <md-content flex="33">
    <md-input-container class="md-icon-float md-block">
      <label>Correo electronico</label>
      <md-icon md-svg-icon="email" class="email"></md-icon>
      <input ng-model="usuario.id" type="text">
    </md-input-container>
  </md-content>
  <md-content flex="33">
    <md-input-container class="md-block">
      <label>Nombre</label>
      <input ng-model="usuario.nombre" type="text">
    </md-input-container>
  </md-content>
  <md-content flex="33">
    <md-input-container class="md-block">
      <label>Apellidos</label>
      <input ng-model="usuario.apellidos" type="text">
    </md-input-container>
  </md-content>
  <md-content flex="35">
    <md-input-container class="md-block">
      <label>Contraseña</label>
      <input ng-model="usuario.password" type="password">
    </md-input-container>
  </md-content>
</md-content>


<md-content style="overflow:visible;">
  <md-chips ng-model="usuario.roles" md-autocomplete-snap md-require-match>
    <md-autocomplete
        md-selected-item="selectedItem"
        md-search-text="searchText"
        md-items="item in querySearch(searchText)"
        md-item-text="item.nombre"
        md-no-cache="true"
        placeholder="Buscar roles">
      <span md-highlight-text="searchText">{{item.nombre}}</span>
      <md-not-found>
      No hay resultados para la búsqueda.
     </md-not-found>
    </md-autocomplete>
    <md-chip-template>
      <span>
        <strong>{{$chip.nombre}}</strong>
      </span>
    </md-chip-template>
  </md-chips>
</md-content>
