 <md-sidenav ng-class="(menuCerrado)?'menu-principal-izq':''" layout="column"   class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')"   ng-include="'src/app/views/menu.html'"></md-sidenav>
<div layout="column" class="relative" layout-fill role="main" id="modulo-nuevo">
	<md-progress-linear  ng-if="cargando" class="md-accent" style="position:fixed; top:-3px; left:0px; z-index:999"  md-mode="indeterminate"></md-progress-linear>
	<md-toolbar layout="column" class="md-whiteframe-z2">
		<div class="md-toolbar-tools">    
			<md-button hide-gt-sm class="md-icon-button " ng-click="toggleMenu(true)" aria-label="Menu">
		        <md-icon md-svg-icon="menu" ></md-icon>
		    </md-button>		
			<h2>
			  <span>Recepción: {{acta.folio}} </span>
			</h2>
			
			<span flex></span>
			<md-button hide-xs hide-sm ng-click="ir('recepcion')"   aria-label="{{ 'REGRESAR' | translate }}">
			  <md-icon md-svg-icon="keyboard-backspace"></md-icon>
			  {{ 'REGRESAR' | translate }}
			</md-button>   
			<md-button class="md-icon-button"  hide-gt-sm  ng-click="ir('recepcion')"   aria-label="{{ 'REGRESAR' | translate }}">
			  <md-icon md-svg-icon="keyboard-backspace"></md-icon>
			</md-button>

			<md-button class="md-icon-button" ng-click="toggleDatosActa=!toggleDatosActa"  ng-disabled="cargando" aria-label="Toggle Datos Acta">
				<md-icon md-svg-icon="{{(toggleDatosActa)?'expand-panel-off':'expand-panel-on'}}"></md-icon>
			</md-button>

			<md-icon md-svg-icon="dots-vertical" style="color: #005DA7;"></md-icon>
			
			<md-button ng-if="(acta.estatus == 4)" ng-permiso="permisoRecibir" class="md-accent md-raised" hide-xs hide-sm ng-click="finalizarRecepcion($event)" ng-disabled="cargando"  aria-label="{{ 'FINALIZAR' | translate }}">
			  <md-icon md-svg-icon="check"></md-icon>
			  {{ 'FINALIZAR' | translate }}
			</md-button>
			<md-button class="md-icon-button md-accent" ng-permiso="permisoRecibir" hide-gt-sm  ng-if="(acta.estatus == 4)" ng-disabled="cargando" ng-click="finalizarRecepcion($event)"  aria-label="{{ 'FINALIZAR' | translate }}">
			  <md-icon md-svg-icon="check"></md-icon>
			</md-button>

			<md-button ng-if="(acta.estatus > 4)" hide-xs hide-sm ng-click="sincronizar()" class="md-raised md-accent" ng-disabled="cargando"  aria-label="{{ 'ENVIAR' | translate }}">
			  <md-icon md-svg-icon="send"></md-icon>
			  {{ 'ENVIAR' | translate }}
			</md-button>		 
			<md-button ng-if="(acta.estatus > 4)" class="md-icon-button md-accent"  hide-gt-sm ng-disabled="cargando" ng-click="sincronizar()"  aria-label="{{ 'ENVIAR' | translate }}">
			  <md-icon md-svg-icon="send"></md-icon>
			</md-button>

			<md-button ng-if="(acta.estatus == 4)" ng-permiso="permisoRecibir" hide-xs hide-sm ng-click="guardarRecepcion($event)" ng-disabled="cargando"  aria-label="{{ 'GUARDAR' | translate }}">
			  <md-icon md-svg-icon="content-save"></md-icon>
			  {{ 'GUARDAR' | translate }}
			</md-button>
			<md-button class="md-icon-button" ng-permiso="permisoRecibir" hide-gt-sm  ng-if="(acta.estatus == 4)" ng-disabled="cargando" ng-click="guardarRecepcion($event)"  aria-label="{{ 'GUARDAR' | translate }}">
			  <md-icon md-svg-icon="content-save"></md-icon>
			</md-button>


			
			<md-menu md-position-mode="target-right target" >
	          <md-button aria-label="Open demo menu" class="md-icon-button" ng-disabled="cargando" ng-click="$mdOpenMenu($event)">
	            <md-icon md-menu-origin md-svg-icon="printer"></md-icon>
	          </md-button>
	          <md-menu-content width="4" >
	            <md-menu-item>
		            <md-button ng-click="imprimir('acta')">
		                <div layout="row">
		                    <p flex>Acta</p>
		                    <md-icon md-menu-align-target md-svg-icon="file" style="margin: auto 3px auto 0;"></md-icon>
		                </div>
		            </md-button>
	            </md-menu-item>
	            <md-menu-item>
	            	<md-button ng-click="imprimir('req')">
		                <div layout="row">
		                	<p flex>Requisiciones</p>
		                    <md-icon md-menu-align-target md-svg-icon="file" style="margin: auto 3px auto 0;"></md-icon>
		                </div>
		            </md-button>
	            </md-menu-item>
	          </md-menu-content>
	        </md-menu>
		</div>
	</md-toolbar>
	<md-content layout="column" flex>
		<md-content id="modulo-contenedor" layout="column" flex>
			<md-content ng-show="toggleDatosActa" layout="row" flex="none" layout-wrap layout-padding style="overflow:visible;">
				<md-input-container flex="45" md-is-error="validacion.lugar_entrega" style="margin-bottom:0px;">
					<label>Lugar de Entrega</label>
					<input value="{{acta.lugar_entrega}}" readonly>
				</md-input-container>
				<md-input-container flex class="md-block" style="margin-bottom:0px;" ng-if="acta.estatus == 4">
					<label>Proveedor</label>
					<md-select ng-model="aplicar_proveedor.id" aria-label="proveedor general" ng-change="cambiarProveedor()">
						<md-option ng-value="">
							Sin Proveedor
						</md-option>
						<md-option ng-repeat="proveedor in proveedores" ng-value="proveedor.id">
							{{proveedor.nombre}}
						</md-option>
					</md-select>
				</md-input-container>
			</md-content>
			<md-divider></md-divider>
			<md-tabs  flex layout="column"  md-stretch-tabs="always"  md-border-bottom class="md-hue-1" md-selected="selectedIndex">
				<md-tab ng-repeat="requisicion in acta.requisiciones track by $index">
					<md-tab-label>
						<md-icon md-svg-icon="checkbox-marked"></md-icon>
						<span>{{(requisicion.tipo_requisicion == 1)?'Causes':((requisicion.tipo_requisicion == 2)?'No Causes':((requisicion.tipo_requisicion == 4)?'Controlados':'Materiales de curación'))}}</span>
					</md-tab-label>
					<md-tab-body>
						<div layout="column" class="relative" layout-fill>
							<md-subheader class="md-primary">
								<div layout="row">
									<div flex="15" style="text-align:center;">Clave</div>
									<div flex style="text-align:center;">Descripción</div>
									<div flex="15" style="text-align:center;">Pedido</div>
									<div flex="10" style="text-align:center;">Recibido</div>
									<div flex="10" style="text-align:center;">Restante</div>
									<div flex="10" style="text-align:center;"></div>
								</div>
							</md-subheader>
							<md-content flex>
								<md-divider></md-divider>
								<md-list>
									<md-list-item ng-repeat="insumo in requisicion.insumos">
										<div flex layout="row">
											<div flex="15" style="text-align:center;">{{insumo.clave}}</div>
											<div flex style="text-align:center;">
												<p style="line-height:14px; margin:0px;">
													<small>{{insumo.descripcion}}</small>
												</p>
											</div>
											<div flex="15" style="text-align:center;">
												{{insumo.cantidad_validada | number}}
											</div>
											<div flex="10" style="text-align:center;">
												{{insumo.cantidad_recibida | number}}
											</div>
											<div flex="10" style="text-align:center;">
												{{insumo.restante | number}}
											</div>
											<div flex="10">
												<md-button ng-if="recepcionIniciada" class="md-raised" ng-click="recibirInsumo($event,insumo)">
													Recibir
												</md-button>
											</div>
										</div>
										<md-divider></md-divider>
									</md-list-item>
								</md-list>
							</md-content>
						</div>
					</md-tab-body>
				</md-tab>
			</md-tabs>
			<md-content layout="row" flex="none" layout-wrap>
				<div flex></div>
				<div flex="none" layout="row" style="overflow:hidden;">
					<md-input-container flex style="margin-bottom:0px;height:35px;">
						<label>Subtotal</label>
						<input value="$ {{acta.requisiciones[selectedIndex].sub_total | number:2}}" readonly>
					</md-input-container>
					<md-input-container flex style="margin-bottom:0px;height:35px;">
						<label>I.V.A.</label>
						<input value="$ {{acta.requisiciones[selectedIndex].iva | number:2}}" readonly>
					</md-input-container>
					<md-input-container flex style="margin-bottom:0px;height:35px;">
						<label>Total</label>
						<input value="$ {{acta.requisiciones[selectedIndex].gran_total | number:2}}" readonly>
					</md-input-container>
				</div>
			</md-content>
		</md-content>
	</md-content>
</div>