<div layout="row" flex id="modulo-contenedor">
	

<md-content layout="column" flex>
	<md-content ng-show="toggleDatosActa" layout="row" flex="none" layout-wrap layout-padding >
		<md-input-container flex="50" md-is-error="validacion.ciudad" style="margin-bottom:0px;">
			<label>Ciudad</label>
			<input ng-model="acta.ciudad">
			<div class="errors" ng-messages="validacion.ciudad" >
				<div ng-message="required">{{ 'CAMPO_REQUERIDO' | translate }}</div>
			</div>
		</md-input-container>
		<md-input-container flex="20" md-is-error="validacion.fecha" style="margin-bottom:0px;">
			<label>Fecha</label>
			<input type="date" ng-model="acta.fecha">
			<div class="errors" ng-messages="validacion.fecha" >
				<div ng-message="required">{{ 'CAMPO_REQUERIDO' | translate }}</div>
			</div>
		</md-input-container>
		<md-input-container flex="15" md-is-error="validacion.hora_inicio" style="margin-bottom:0px;">
			<label>Hora de inicio</label>
			<input type="time" ng-model="acta.hora_inicio_date">
			<div class="errors" ng-messages="validacion.hora_inicio" >
				<div ng-message="required">{{ 'CAMPO_REQUERIDO' | translate }}</div>
			</div>
		</md-input-container>
		<md-input-container flex="15" md-is-error="validacion.hora_termino" style="margin-bottom:0px;">
			<label>Hora de termino</label>
			<input type="time" ng-model="acta.hora_termino_date">
			<div class="errors" ng-messages="validacion.hora_termino" >
				<div ng-message="required">{{ 'CAMPO_REQUERIDO' | translate }}</div>
			</div>
		</md-input-container>
		<md-input-container flex="100" md-is-error="validacion.lugar_reunion" style="margin-bottom:0px;">
			<label>Lugar de Reunion</label>
			<input ng-model="acta.lugar_reunion">
			<div class="errors" ng-messages="validacion.lugar_reunion" >
				<div ng-message="required">{{ 'CAMPO_REQUERIDO' | translate }}</div>
			</div>
		</md-input-container>
	</md-content>
	<md-divider></md-divider>
	<md-subheader flex="none" class="md-primary">
		<div layout="row">
			<div flex="5" style="text-align:center;">No. Lote</div>
			<div flex="15" style="text-align:center;">Clave</div>
			<div flex style="text-align:center;">Descripción del Insumo</div>
			<div flex="15" style="text-align:center;">Unidad de Medida</div>
			<div flex="10" style="text-align:center;">Precio Unitario</div>
			<div flex="10" style="text-align:center;">Cantidad</div>
			<div flex="20" style="text-align:center;">Importe</div>
		</div>
	</md-subheader>
	<md-divider></md-divider>
	<md-content flex>
		<md-list>
			<md-list-item ng-if="acta.insumos.length == 0">
		    	<md-subheader class="{{(validacion.requisiciones)?'md-warn':''}}">
		    		<span ng-hide="validacion.requisiciones">No hay insumos de médicamentos capturados</span>
					<span ng-show="validacion.requisiciones">Es necesario capturar al menos un insumo</span>
		    	</md-subheader>
		    </md-list-item>
			<md-list-item ng-repeat="insumo in acta.insumos | filter: filtroTipo" ng-click="editarInsumo($event,insumo)">
				<div flex layout="row" ng-class="(insumo.repetido)?'insumo-repetido':''" ng-style="(insumo.requisicion_id)?((insumo.editado)?{'font-style':'italic'}:{'color':'black'}):{'font-weight':'bold'}">
					<div flex="5" style="text-align:center;">{{insumo.lote}}</div>
					<div flex="15" style="text-align:center;">{{insumo.clave}}</div>
					<div flex style="text-align:center;"><p style="line-height:14px; margin:0px;"><small>{{insumo.descripcion}}</small></p></div>
					<div flex="15" style="text-align:center;"><p style="line-height:14px; margin:0px;"><small>{{insumo.unidad}}</small></p></div>
					<div flex="10" style="text-align:center;">$ {{insumo.precio | number:2}}</div>
					<div flex="10" style="text-align:center;">{{insumo.cantidad | number}}</div>
					<div flex="20" style="text-align:center;">$ {{insumo.total | number:2}}</div>
				</div>
		    	<md-icon ng-if="(acta.estatus < 2)" md-svg-icon="delete" ng-click="eliminarInsumo(insumo)" aria-label="quitar" class="md-secondary md-hue-3">
		    	</md-icon>
				<md-divider></md-divider>
			</md-list-item>
		</md-list>
	</md-content>
	<md-divider></md-divider>
	<md-content layout="row" flex="none" layout-wrap>
		<md-button class="md-raised md-accent" ng-click="agregarInsumo($event)" ng-if="(acta.estatus < 2)" ng-disabled="cargando">
			<md-icon md-svg-icon="plus"></md-icon> Agregar Insumo
		</md-button>
		<div flex="none" ng-if="(acta.estatus > 1)" style="overflow:hidden;">
			<md-input-container style="margin-bottom:0px;height:35px;">
				<label>Validado</label>
				<input value="{{(acta.estatus < 3)?'Sin Validar':(acta.fecha_validacion | date:'yyyy-MM-dd HH:mm')+' hrs'}}">
			</md-input-container>
		</div>
		<div flex></div>
		<div flex="none" layout="row" style="overflow:hidden;">
			<md-input-container flex="none" style="margin-bottom:0px;height:35px;">
				<label>Subtotal</label>
				<input value="$ {{acta.subtotal | number:2}}" readonly>
			</md-input-container>
			<md-input-container flex="none" style="margin-bottom:0px;height:35px;">
				<label>I.V.A.</label>
				<input value="$ {{acta.iva | number:2}}" readonly>
			</md-input-container>
			<md-input-container flex="none" style="margin-bottom:0px;height:35px;">
				<label>Total</label>
				<input value="$ {{acta.total | number:2}}" readonly>
			</md-input-container>
		</div>
	</md-content>
</md-content>

<md-content layout="column" flex="15" class="md-whiteframe-z2">
	<md-subheader class="md-primary md-hue-1">
		Totales por tipo:
	</md-subheader>
	<md-input-container flex="none" style="margin-bottom:0px; height:35px;">
		<label>Causes:</label>
		<input value="$ {{subtotales.causes | number:2}}" readonly>
	</md-input-container>
	
	<md-input-container flex="none" style="margin-bottom:0px; height:35px;">
		<label>No Causes:</label>
		<input value="$ {{subtotales.no_causes | number:2}}" readonly>
	</md-input-container>
	
	<md-input-container flex="none" style="margin-bottom:0px; height:35px;">
		<label>Material de Curación:</label>
		<input value="$ {{subtotales.material_curacion | number:2}}" readonly>
	</md-input-container>
	<md-subheader class="md-primary md-hue-1">
		Filtrar por tipo:
	</md-subheader>
	<md-radio-group ng-model="filtroTipo" class="md-primary md-padding" ng-change="cambiaFiltro(filtroTipo)">
		<md-radio-button ng-value="1">Todos</md-radio-button>
		<md-radio-button ng-value="{tipo:1,cause:1}">Causes</md-radio-button>
		<md-radio-button ng-value="{tipo:1,cause:0}">No Causes</md-radio-button>
		<md-radio-button ng-value="{tipo:2,cause:0}">Material de Curación</md-radio-button>
	</md-radio-group>
	<div flex></div>
	<md-divider></md-divider>
	<md-input-container flex="none" style="margin-bottom:0px;">
		<label>Total Insumos</label>
		<input value="{{(acta.insumos | filter: filtroTipo).length | number}}" readonly>
	</md-input-container>
</md-content>

</div>